<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Axios发送JSON数据给服务器端</title>
        <script charset="UTF-8" src="script/vue.js"></script>
        <script charset="UTF-8" src="script/axios.js"></script>
    </head>
    <body>

        <div id="div1">
            <label>
                uname:<input type="text" v-model="uname"/>
            </label><br/>
            <label>
                <input type="text" v-model="pwd"/>
            </label>
            <button @click="axios02">点击发送请求</button>
        </div>

        <script>

            let vm = new Vue({
                el: "#div1",
                data: {
                    msg: 1,
                    uname: "lina",
                    pwd: "ok"
                },
                methods: {
                    axios02() {
                        axios({
                            method: "post",
                            url: "axios02.do",
                            data: {
                                uname: this.uname,
                                pwd: this.pwd
                            }
                        }).then(value => {
                            console.log(value);
                        }).catch(reason => {
                            console.log(reason)
                        })
                    }
                }
            })
        </script>
    </body>
</html>